body {
font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  background-image: url('12.jpg'); 
  background-size: cover;
  background-position: center;
}

.login-container {
 text-align: center;
  padding: 40px;
  background-color: rgba(204, 204, 204, 0.916); /* para mo slight transparent ag background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  border-radius: 10px; 
}
.login-box {
  border: 1px solid #ccc;
  padding: 20px;
}
input[type="text"],
input[type="password"],
button {
  margin: 10px 0;
  padding: 8px;
  width: calc(100% - 16px);
}

button {
  background-color: #4fe226;
  color: white;
  border: none;
  cursor: pointer;
}
h4{
	color:#239a35;
}
#loginForm button:hover {
  background-color: #28be23;
}
#captchaContainer{
	color:#393232;
	width:50%;
	text-align:center;
	height:30px;
	line-height:30px;
	letter-spacing:8px;
	border:1px dashed #888;
}