body {
font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d8bfd8;
  background-image: url('12.jpg'); /* Replace 'your_image_path.jpg' with your image URL */
  background-size: cover;
  background-position: center;
}

.login-container {
 text-align: center;
  padding: 40px;
  background-color: rgba(241, 241, 241, 0.916); /* Slightly transparent background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  border-radius: 10px; /* Rounded corners */
}
.login-box {
  border: 1px solid #ccc; /* Border for separation */
  padding: 20px;
}
input[type="text"],
input[type="password"],
button {
  margin: 10px 0;
  padding: 8px;
  width: calc(100% - 16px);
}

button {
  background-color: #3aa3dc;
  color: white;
  border: none;
  cursor: pointer;
}
h4{
	color:#3f8ba7;
}
#loginForm button:hover {
  background-color: #1f6184;
}
#captchaContainer{
	color:#393232;
	width:50%;
	text-align:center;
	height:30px;
	line-height:30px;
	letter-spacing:8px;
	border:1px dashed #888;
}